@import "tailwindcss";
@import "@nuxt/ui";

/* Apply our brand fonts */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

body,
p,
span,
div,
button,
input,
a {
  font-family: "Inter", sans-serif;
}
